# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Asv.Drones.Gui.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
