# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Asv.Drones.Gui.Plugin.Weather.iml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
